body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;

  font-size: calc(10px + 2vmin);
}

.App {
  min-height: 80vh;
}

a {
  text-decoration: none;
  color: #252525;
}

p {
  margin: 0.5rem;
}

.container {
  max-width: 1000px;

  margin: 0 auto;
  padding: 10px;
  border: 1px solid #dad7d7;
  background: #b3dbcf;
  text-align: center;
}

.form-control {
  width: 10rem;
}

.btn {
  margin: 20px auto;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #75cfb8;
  width: 150px;
  position: relative;
  border-radius: 0.5rem;
}

.home-btn {
  margin: 20px auto;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #75cfb8;
  width: 300px;
  font-size: calc(4px + 2vmin);
  border-radius: 0.5rem;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ece2e1;
  margin-bottom: 2rem;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ece2e1;
  margin-top: 2rem;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 5px;
  text-decoration: none;
}

li p {
  font-size: calc(4px + 2vmin);
}

.user {
  color: #75cfb8;
}

.logout {
  cursor: pointer;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin-right: 1rem;
}

.question-text {
  font-size: calc(4px + 2vmin);
}

.votes {
  font-size: calc(1px + 2vmin);
}

.center-container {
  width: 100%;
  max-width: 40rem;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 3px solid #ece2e1;
  border-radius: 3px;
}

.info {
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
}
