body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #dad7d7;
  background: #d3e0dc;
}

.form-control {
  width: 10rem;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ece2e1;
  margin-bottom: 2rem;
  
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}


ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  
}

.user {
  color: #75cfb8
}

.logout {
  cursor: pointer;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin-right: 1rem;
}

.question {
  width: 100%;
  max-width: 40rem;
  padding: 2rem;
  display: flex;
  margin: auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.info {
  display: flex;
  margin: auto
}








